@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  border: 1px solid white;
}
body{
  background-color: aliceblue;
}
.navSection{
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  background-color: black;
  color: white;
  height: 80px;
}
.user{
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
}
.search{
  width: 200px;
  height: 25px;
}
.search input{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 8px;
}

.user div:nth-child(1){
  padding: 6px 50px 0 0;
  font-size: 20px;
}
.user div:nth-child(2){
  padding: 0 30px 0 0;
  font-size: 30px;
}
.proSection{
  display: flex;
  background-color: white;
}
.imgBox{
  width: 80%;
  padding-left: 20px;
}
.proImage{
  width: 80%;
}
.proTitle h2{
  margin: 10px;
}
.subMenu ul li{
  margin: 0 25px 0 25px;
  list-style: none;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.subMenu ul li:hover{
  transform: scale(1.1);
  text-decoration: underline;
}
.subMenu{
  background-color: gray;
  color: azure;
  height: 60px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  
}
.subMenu ul{
  display: inline-flex;
  align-items: center;
  

}